
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.footer-container {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424040;
  color: #fff;
  box-shadow: rgba(37, 34, 34, 0.2);
  padding: 16px 0;
}
.footer-container p{
  margin: 0;
}
body{
  font-family: "League Spartan", sans-serif;
}
