@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");


.move-to-room-dialog .p-dialog-content {
  padding: 0;
}

.move-to-room-dialog .dialog-content {
  display: flex;
  height: 100%;
}

.move-to-room-dialog .timeline-container {
  width: 40%;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.move-to-room-dialog .content-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.move-to-room-dialog .custom-timeline {
  padding: 0;
  margin: 0;
}

.move-to-room-dialog .custom-timeline .p-timeline-event-connector {
  width: 2px;
  background-color: #e0e0e0;
  left: 14px;
  top: 30px;
  height: calc(100% - 40px);
  transition: background-color 0.3s;
}

.move-to-room-dialog .custom-timeline .p-timeline-event.completed .p-timeline-event-connector {
  background-color: #8a8a8a;
}

.move-to-room-dialog .custom-timeline .p-timeline-event-content {
  margin-left: 20px;
  margin-bottom: 20px;
}

.move-to-room-dialog .custom-timeline .custom-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  z-index: 1;
  position: relative;
  color: #666;
}

.move-to-room-dialog .custom-timeline .custom-content {
  margin-left: 15px;
  padding-bottom: 20px;
}

.move-to-room-dialog .custom-timeline h3 {
  margin: 0;
  font-size: 1rem;
  color: #666;
  transition: color 0.3s;
}

.move-to-room-dialog .custom-timeline p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}


.move-to-room-dialog .custom-timeline .custom-marker.completed {
  background-color: #2ea11f;
  color: white;
}

.move-to-room-dialog .custom-timeline .custom-content.completed h3 {
  color: #444444;
}

.move-to-room-dialog .custom-timeline .custom-marker.active {
  background-color: #2196f3;
  color: white;
}

.move-to-room-dialog .custom-timeline .custom-content.active h3 {
  color: #101011;
}

.move-to-room-dialog .custom-timeline .p-timeline-event:not(:last-child) .p-timeline-event-connector {
  height: calc(100% - 15px);
}

.move-to-room-dialog .p-checkbox .p-checkbox-box {
  background-color: #ffffff;
  border-color: #95989a;
  box-shadow: none;
  width: 16px;
  height: 16px;
}

.move-to-room-dialog .p-checkbox .p-checkbox-box.p-highlight {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

.move-to-room-dialog .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: #f5f2f2;
}

/* .move-to-room-dialog .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background-color: #bdbdbd;
  border-color: #333333;
} */

.move-to-room-dialog .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #000000;
}

.move-to-room-dialog .custom-timeline.step-0-completed .p-timeline-event:nth-child(1) .p-timeline-event-connector,
.move-to-room-dialog .custom-timeline.step-1-completed .p-timeline-event:nth-child(-n+2) .p-timeline-event-connector,
.move-to-room-dialog .custom-timeline.step-2-completed .p-timeline-event:nth-child(-n+3) .p-timeline-event-connector {
  background-color: #2ea11f;
}


.move-to-room-dialog .field {
  margin-bottom: 15px; 
  position: relative;
}

.move-to-room-dialog .field label {
  display: block;
  margin-bottom: 3px; 
}

.input-text,
.input-text-dropdown {
  margin-bottom: 15px; 
  padding: 10px 10px; 
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.dropdown-icon-img {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 8px;
  height: 13px;
}

.move-to-room-dialog .p-inputgroup {
  margin-bottom: 5px; 
}


.move-to-room-dialog .field-checkbox {
  margin-bottom: 0px; 
}


.p-fileupload-content {
  border: 2px dashed var(--surface-d);
  border-radius: 6px;
  padding: 1rem; 
  background-color: var(--surface-b);
  color: var(--text-color-secondary);
  transition: border-color 0.2s;
}

.p-fileupload-row {
  padding: 0.5rem; 
  margin-bottom: 5px; 
}


.move-to-room-dialog .p-button {
  padding: 8px 16px; 
  background-color: black;
  color: white;
  font-family: "League Spartan", sans-serif !important;
  border: none;
}

.move-to-room-dialog .p-button:hover {
  background-color: #333;
}


.move-to-room-dialog .step-section {
  margin-bottom: 5px; 
  margin-top: 10px;
  padding: 10px; 
  border-radius: 5px;
  background-color: transparent;
}

.move-to-room-dialog .step-section.completed {
  background-color: transparent;
}

.move-to-room-dialog .step-section h3 {
  margin-top: 0;
  margin-bottom: 10px; 
  color: #333;
}

.move-to-room-dialog .step-section.completed h3 {
  color: #444444;
}

.move-to-room-dialog .mt-2 {
  margin-top: 5px; 
}


.p-fileupload-row {
  padding: 0.5rem; 
  margin-bottom: 5px; 
}

.p-fileupload-row .flex {
  margin: 0;
}


.move-to-room-dialog {
  font-family: "League Spartan", sans-serif !important;
}

/* New additions */
.company_verified_wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
.company_verified_wrapper img{
  margin-top: -3px;
}
.company-dialog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header_asset_title{
font-size: 1.5rem;
font-weight: 700;
color: #2b2b2b;
margin: 0;
}
.header_ifric_id{
font-size: 1rem;
color: #5f5f5f;
margin: 5px 0px 0px 0px;
font-weight: 500;
}
.owner_dialog_wrapper{
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  background-color: #f9fafb;
}
.owner_form_wrapper{
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-start;
}
.owner_form_steps{
  padding: 40px 30px;
  border-right: 1px solid #e6e6e6;
  display:flex;
  align-items: flex-start;
  justify-content: center;
}
.custom_step_cell{
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.custom_step_cell svg{
  position: relative;
  z-index: 2;
}
.check_content_wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:3px;
  padding-top: 2px;
}
.custom_check_title{
font-size: 1rem;
font-weight: 500;
}
.custom_check_helper{
font-size: 0.875rem;
display: none;
}
.custom_steps_wrapper{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
}
.move-to-room-dialog .p-dialog-footer{
  padding: 1.25rem;
  border-top: 1px solid #e6e6e6;
}
.step_connector{
  width: 1.5px;
  height: 32px;
  position: absolute;
  bottom: -26px;
  left: 11.5px;
}
.owner_form{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form_group_title{
  font-size: 1.25rem;
  color: #2b2b2b;
  font-weight: 600;
  margin: 0px 0px 16px 0px;
}
.form_field{
  position: relative;
}
.form_field.margin_bottom{
  margin-bottom: 15px;
}
.form_field.margin_top{
  margin-top: 15px;
}
.form_field_group{
  padding: 22px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px #00000015;
}
.owner_form .form_field .p-inputtext {
  width: 100%;
  /* height: 40px; */
  padding-left: 15px;
  border-radius: 8px;
  border-width: 2px;
  font-family: inherit;
  padding-left: 16px !important
}
.p-component{
  font-family: inherit;
}
.owner_form .form_field .p-inputtext:focus {
  border-color: #138ab6;
  box-shadow: 0 0 0 1px #138ab6 !important;
}
.owner_form .p-inputtext:enabled:hover {
  border-color: #138ab6;
}
.company_dropdown{
  border: 2px solid #ced4da;
  width: 100%;
  border-radius: 8px;
  box-shadow: none;
}
.asset_verified_group{
  display: flex;
  align-items: center;
  gap: 6px;
}
.company_checkbox{
  width: 16px;
  height: 16px;
  margin-right: 6px;
  box-shadow: none;
}
.owner_details_card{
  max-width: 350px;
  width: 50%;
  padding-top: 40px;
  position: sticky;
  top: 0px;
  padding-right: 20px;
}
.owner_details_label{
  color: #2b2b2b;
  font-weight: 500;
  margin-bottom: 5px;
}
.owner_details_group{
  display: flex;
  flex-direction: column;
  gap: 10px
}
.owner_details_value{
  font-size: 14px;
}
.calendar_icon_button{
  position: absolute;
  top: 8px;
  right: 8px;
}
.generate_cert_button_group{
padding-top: 16px;
display: flex;
align-items: center;
gap: 1rem;
justify-content: flex-end;
}
.certification_date_button input{
width: 36px;
    height: 29px;
    border: none;
    outline: none;
    box-shadow: none;
    opacity: 0;
    position: relative;
    right: -37px;
    border-radius: 8px;
    cursor: pointer;
}
.certification_date_button .p-datepicker-trigger.p-button.p-component.p-button-icon-only{
  border-radius: 8px;
  background-color: #E6E6E6;
  color: #2b2b2b;
  padding: 7px 5px;
  box-shadow: none;
  pointer-events: none;
}
.certification_date_button .p-datepicker-trigger.p-button.p-component.p-button-icon-only img{
  width: 16px;
  height: 16px;
}
.generate_certification_button{
  padding: 8px 12px;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #2b2b2b;
  color: white;
  border-radius: 8px; 
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.generate_certification_button:disabled{
opacity: 50%;
cursor: not-allowed;
}


/* Theme overrides */
.form_field .p-float-label > label {
  left: 15px;
}
.form_field .p-float-label label {
  top: 18px;
}
.form_field .p-float-label input:focus ~ label,
.form_field .p-float-label input:-webkit-autofill ~ label,
.form_field .p-float-label input.p-filled ~ label,
.form_field .p-float-label textarea:focus ~ label,
.form_field .p-float-label textarea.p-filled ~ label,
.form_field .p-float-label .p-inputwrapper-focus ~ label,
.form_field .p-float-label .p-inputwrapper-filled ~ label,
.form_field .p-float-label .p-tooltip-target-wrapper ~ label {
  top: 2px;
  left: 10px;
  background: white;
  padding: 0px 5px;
}
.owner_details_card .p-card .p-card-content{
  padding: 0px;
}
.owner_details_card .p-card .p-card-body{
  padding: 1.125rem;
}
.company_dropdown .p-multiselect-trigger{
  display: none;
}
.company_dropdown .p-multiselect-token{
  padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    background: #2b2b2b;
    color: #ffffff;
    font-size: 14px;
    border-radius: 16px;
}
.owner_details_card .p-card{
  box-shadow: 0px 0px 2px 0px #00000015;
}