.owner-details-card {
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  font-family: inherit;
  margin-top: -9%;
}

.owner-details-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.owner-details-card .field {
  margin-bottom: 0.5rem;
}

.owner-details-card .label {
  font-weight: bold;
  margin-right: 0.5rem;
}


.owner-details-card:hover {
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 2px 6px 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
  .owner-details-card {
    margin-top: 0;
  }

  .owner-details-card .card-title {
    font-size: 1rem;
  }
}