.owner-details-card {
  border-radius: 8px;
  font-family: inherit;
}

.owner-details-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.owner-details-card .field {
  margin-bottom: 0.5rem;
}

.owner-details-card .label {
  font-weight: bold;
  margin-right: 0.5rem;
}


@media screen and (max-width: 768px) {
  .owner-details-card {
    margin-top: 0;
  }

  .owner-details-card .card-title {
    font-size: 1rem;
  }
}